<div class="page-panel">
  <table class="table">
    <thead>
    <tr>
      <th>Room name</th>
      <th>Players</th>
      <th>Game</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody class="game-search-table-body">
    <tr *ngFor="let entity of entityPage">
      <td> {{entity.name}}</td>
      <td> {{entity.currentPlayers}} / {{entity.maxPlayers}}</td>
      <td> {{entity.gameTitle}}</td>
      <td><a class='btn btn-primary' [routerLink]="['/game/' + entity.name]">Connect</a></td>
    </tr>
    </tbody>
  </table>

  <div class="game-search-pagination-navigator"></div>

  <p>
    <button class="btn btn-default" [routerLink]="['/']">Back</button>
  </p>

</div>
